* {
	margin: 0;
	padding: 0;
}

.row {
	margin-bottom: 40px;
}

.flip-clock-wrapper {
	margin: 20px auto;
	width: 300px;
}

.flip-clock-label {
	display: none;
}

#clue img {
	float: left;
	max-height: 360px;
}