* {
	margin: 0;
	padding: 0;
}

body {
  background-color: black;
  color: white;
}

.countdown {
	font-size: 30em;
	text-align: center;
}

.countdown .separator {
	margin: -60px;
}

#clue-wrapper {
	bottom: 0;
	font-size: 4em;
	position: absolute;
	text-align: center;
	width: 100%;
}

#clue {
	padding: 20px;
}